{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>LITReview</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'authentification/styles.css' %}">
</head>
<body>
    <div class="container">
        <header class="header"> <!-- en-tête -->
            <h1>LITReview</h1>
        </header>
        <hr />
        <main class="content"> <!-- contenu principal -->
            {% block content %}
            <!-- Contenu par défaut si le block n'est pas surchargé -->
            {% endblock %}
        </main>
        
        {% if messages %}
        <div class="error-messages" role="alert"> <!-- role="alert" pour les messages d'erreur -->
            {% for message in messages %}
            <p class="error">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <div class="clearfix"></div>
    </div>
</body>
</html>
