
{% extends 'base.html' %}

{% block content %}
    <div class="inscription">
        <h2>Inscrivez-vous maintenant</h2>
        <a href="{% url 'inscription' %}">
            <button type="submit" class="button">Inscription</button>
        </a>
    </div>
    <div class="login">
        <h2>Connectez-vous</h2>
        <form method="post" action="{% url 'connexion' %}">
            {% csrf_token %}
            <button type="submit" class="button">Se connecter</button>
            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="psw">Mot de passe</label>
                <input type="password" id="psw" name="password" required>
            </div> 
        </form>
    </div>
{% endblock %}

