{% extends 'user_actions_base.html' %}

{% block content %}
{% load static %}
  <head>
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>
    <link rel="stylesheet" href="{% static 'actions_users/user_follow.css' %}">
  </head>
  <div class="section">
    <div class="section">
      <h2>Suivre d'autres utilisateurs</h2>
      <form method="POST" action="/follow/" id="userForm">
        {% csrf_token %}
        <div id="autocomplete" class="autocomplete">
          <input class="autocomplete-input" type="text" name="search_query" placeholder="Nom d'utilisateur">
          <ul class="autocomplete-result-list"></ul>
          <button type="submit">Suivre</button>
        </div>
        <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
        <script>
          new Autocomplete('#autocomplete', {
            search : input =>{
              console.log(input)
              const url = `/search_user/?user=${input}`
              return new Promise(resolve =>{
                fetch(url)
                .then(response => response.json())
                .then(data => {
                  console.log(data)
                  resolve(data.data)
                })
              })
            },
            getResultValue: result => result,
            onSubmit: result => {
              // Here you handle the form submission
              // Prevent the default form submission
              event.preventDefault();
              const username = document.querySelector('.autocomplete-input').value;
              // Change form action based on the username
              const form = document.getElementById('userForm');
              form.action = `/follow/${username}/`;
              
            }
          })
        </script>
      </form>
    </div>
  </div>
  <div class="section subscription-section">
    <div class="subscription-list">
      <h2>Abonnements</h2>
      <ul>
        {% for user in followed_users %}
          <li>
            <form action="{% url 'unfollow_user' user.username %}" method="POST">
              {% csrf_token %}
              - {{ user.username }}
              <button type="submit">Ne plus suivre</button>
            </form>
          </li>
          <hr class="follower-hr"/>
        {% empty %}
          <li>Vous ne suivez actuellement personne.</li>
        {% endfor %}
      </ul>
      {% if messages %}
        <div class="error-messages">
          {% for message in messages %}
            <p class="error">{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="subscription-list">
      <h2>Abonnés</h2>
      <ul>
        {% for user in followers %}
            <li>- {{ user.username }}</li>
            <hr class="follower-hr"/>
        {% empty %}
            <li>Aucun utilisateur ne vous suit actuellement.</li>
        {% endfor %}
      </ul>
    </div>
{% endblock %}