{% extends 'user_actions_base.html' %} {% block content %} {% load static %}
<head>
  <link
    rel="stylesheet"
    href="{% static 'actions_users/css/user_create_post.css' %}"
  />
</head>
<body>
  <h2>Créer une critique</h2>

  <form method="post" enctype="multipart/form-data">
    <h3>Livre</h3>
    {{ ticket_form }}
    <hr />
    <h3>Critique</h3>
    {{ review_form }} {% csrf_token %}
    <button type="submit" class="btn-sub">Envoyer</button>
    <script src="{% static 'actions_users/js/character.js' %}"></script>
  </form>
</body>
{% endblock %}
