{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'actions_users/css/stars_rating.css' %}" />
{% endblock %}
<div class="post">
  <div class="post-header">
    {% if user == post.user %}
    <h3>Vous avez créé une critique</h3>
    {% else %}
    <h3>{{ post.user.username }} a créé une critique</h3>
    {% endif %}
    <span class="post-date">{{ post.time_created|date:"H:i, d F Y" }}</span>
  </div>
  <div class="post-title-container">
    <h4 class="post-title">{{ post.headline }}</h4>
    {% if post.rating %}
      <div class="post-rating" data-rating="{{ post.rating }}"></div>
    {% endif %}
  </div>
  <div>
    {% if post.body %}
    <p class="post-description">{{ post.body }}</p>
    {% endif %}
  </div>
  <div>
    {% include 'partials/render_ticket.html' with post=post.ticket passthrough_review=post %}
  </div>
  {% if request.path == "/my_post" and user == post.user %}
  <div class="post-footer">
    <a href="{% url 'edit_review' review_id=post.id %}" class="buttons">Modifier la critique</a>
    <a href="{% url 'delete_review' review_id=post.id %}" class="buttons" onclick="return confirm('Voulez-vous vraiment supprimer cette critique ?');">Supprimer la critique</a>
  </div>
  {% endif %}
  <script src="{% static 'actions_users/js/stars_rating.js' %}"></script>
</div>
