<div class="buttons-container">
  <a href="{% url 'create_ticket' %}" class="buttons">Demander une critique</a>
  <a href="{% url 'create_ticket_and_review' %}" class="buttons">Créer une critique</a>
</div>
<div class="content-wrapper">
  {% for post in posts %}
    {% if post.title %}
      <article>
        {% include 'partials/render_ticket.html' with post=post %}
      </article>
    {% elif post.headline %}
      <article>
        {% include 'partials/render_review.html' with post=post %}
      </article>
    {% endif %}
  {% endfor %}
</div>
